
	<div class="card__image">
		<img src={{card_image}} alt="This is awesome">
	</div>
	<div class="card__title">{{card_title}}</div>
	<div class="card__price">${{card_price}}</div>	
	<div class="card__price">X{{card_num}}</div>	
	<div class="card__price">${{total_price}}</div>	
	<a href="../Cart.php?name={{card_title}}&price={{card_price}}&image={{card_image}}&type=Add" class="button-add_item">+</a>
	<a href="../Cart.php?name={{card_title}}&price={{card_price}}&image={{card_image}}&type=Delete" class="button-add_item">-</a>
